/* Currency Switcher Component */

.wi_currency-toggle {
  display: flex;
  position: relative;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 1;
  font-size: 13px;
  font-weight: 500;
  border: 1px solid #fff;
  color: var(--wi_color-primary);
}

.wi_currency-toggle > input {
  display: none;
}

.wi_currency-toggle label {
  flex: 1;
  text-align: center;
  cursor: pointer;
  padding: 6px 3px;
  transition: color 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
  white-space: nowrap;
}

.wi_currency-toggle label:not(:last-child) {
  border-right: 1px solid #fff;
}

/* Active text color */
.wi_currency-toggle > input:checked + label {
  color: var(--wi_color-text);
}

/* Sliding background */
.wi_currency-toggle label:last-of-type::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  background: #fff;
  z-index: -1;
  transform: translateX(0);
  transition: transform 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
}

/* Position for USD */
.wi_currency-toggle
  > input:nth-of-type(1):checked
  ~ label:last-of-type::before {
  transform: translateX(0%);
}

/* Position for UZS */
.wi_currency-toggle
  > input:nth-of-type(2):checked
  ~ label:last-of-type::before {
  transform: translateX(100%);
}
